body, html {
    background-color: #fee;
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.nav-wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    letter-spacing: .2em;
    color: lightcoral;
}

a {
    text-decoration: none!important;
    color: lightcoral;
}

.about-me, .contact, .portfolio {
    width: 160px;
    font-size: 1.5em;
    text-align: center;
    margin-left: 25px;
    transition: .5s;
}

a:hover {
    color: violet;
}

.about-me:hover, .contact:hover, .portfolio:hover {
    letter-spacing: 5px;
    color:violet;
}

.name-wrapper {
    font-size: 7em;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}


.first-name {
    display: flex;
    justify-content: left;
    align-items: center;
    letter-spacing: .3em;
}

.last-name {
    display: flex;
    justify-content: left;
    align-items: center;
    letter-spacing: .3em;
}

.web-developer, .welcome {
    font-size: 0.33em;
    letter-spacing: .2em;
    color: lightcoral;
}

.icon-wrapper {
    font-size: 3em;
    letter-spacing: .3em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: absolute;
    bottom:0;
    width:100%;
    background:#fee;
    transition: 2s;
}

.icon {
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
}

.fa-code, .fa-html5, .fa-css3, .fa-js-square, .fa-wordpress-simple, .fa-github, .fa-linkedin, .fa-instagram {
    opacity: 0.5;
    transition: 0.5s;
}

.fa-code:hover, .fa-html5:hover, .fa-css3:hover, .fa-js-square:hover, .fa-wordpress-simple:hover, .fa-github:hover, .fa-linkedin:hover, .fa-instagram:hover {
    opacity: 1;
}

/* MY NAME */

.theS {
    color: violet;
}

.theU {
    color: lightcoral;
}

.theZ {
    color: goldenrod;
}

.theA {
    color: orangered;
}

.theN {
    color: darkgreen;
}

.theN2 {
    color: midnightblue;
}

.theE {
    color: lightcoral;
}

.period {
    color: violet;
}

.theP {
    color: crimson;
}

.theA2 {
    color: midnightblue;
}

.theY {
    color: black;
}

.theL {
    color: lightcoral;
}

.theO {
    color: violet;
}

.theR {
    color: goldenrod;
}

/* ICONS */

.fa-html5 {
    color: darkgreen;
}

.fa-code {
    color: goldenrod;
}

.fa-css3 {
    color: crimson;
}

.fa-js-square {
    color: orangered;
}

.fa-wordpress-simple {
    color: lightcoral;
}

.fa-github {
    color: black;
}

.fa-linkedin {
    color: violet;
}

.fa-instagram {
    color: lightcoral;
}


/* MEDIA QUERIES */

@media screen and (max-width: 840px) {
    .name-wrapper {
        font-size: 6em;
    }
}

@media screen and (max-width: 740px) {
    .name-wrapper {
        font-size: 5em;
    }
}

@media screen and (max-width: 640px) {
    .name-wrapper {
        font-size: 4em;
    }
}

@media screen and (max-width: 500px) {
    .name-wrapper {
        font-size: 3em;
    }
}

@media screen and (max-width: 400px) {
    .name-wrapper {
        font-size: 3em;
    }
}

/* Contact Page */

.myEmail {
    font-size: 3em;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    transition: 0.5s
}



.theY2 {
    color: orangered;
}

.theAt  {
    color: crimson;
}

.theG {
    color: lightcoral;
}

.theM {
    color: darkgreen;
}

.theI {
    color: black;
}

.theC  {
    color: crimson;
}

.phone-wrapper {
    display: flex;
}

.phone {
    font-size: 2em;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    color: lightcoral;
}

@media screen and (max-width: 840px) {
    .myEmail {
        font-size: 3em;
    }
}

@media screen and (max-width: 640px) {
    .myEmail {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 540px) {
    .myEmail {
        font-size: 2em;
    }
}

@media screen and (max-width: 440px) {
    .myEmail {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 640px) {
    .phone {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 540px) {
    .phone {
        font-size: 2em;
    }
}

@media screen and (max-width: 440px) {
    .phone {
        font-size: 1.5em;
    }
}

/* PORTFOLIO PAGE */

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

 .first-col, .second-col, .third-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin: 10px;
}

.project-wrapper {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    align-content: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project-wrapper:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

img {
    border-radius: 5px;
    padding: 5px;
    border: solid white 5px;
}

.button-text-wrapper {
    display: flex;
    margin: -8px 5px 0px 5px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-left: 10px;
}

.round-button {
    color: #fff !important;
    text-transform: uppercase;
    background: lightgray;
    padding: 8px;
    border-radius: 20px;
    display: inline-block;
    border: none;
    margin: 5px 0px 5px 0px;
    }

.round-button > .fa-code {
    color: white;
    opacity: 1;
}

a.round-button.play-button {
    padding-left: 12px;
}

.round-button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

.text-wrapper {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
}

/* ABOUT SECTION */

.about.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.boring-bio > p {
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    width: 600px;
    padding-left: 20px;
    line-height: 28px;
}

.about-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.this-is-me > img {
    border: 15px solid white;
    border-radius: 8px;
    padding: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.this-is-me > img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .about-end-wrapper {
      display: flex;
      flex-wrap: wrap;
  }

  .about-end-wrapper > .icon-wrapper {
      position: relative;
      padding-top: 30px;
  }

  @media screen and (max-width: 640px) {
    .boring-bio > p {
        width: 500px;
    }
}

@media screen and (max-width: 540px) {
    .boring-bio > p {
        width: 400px;
    }
}

@media screen and (max-width: 440px) {
    .boring-bio > p {
        width: 300px;
    }
}